<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Http Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let user of userList">
      <ion-item>
        <ion-label>
          <h2>{{user.name}}</h2>
          <p>Email: {{user.email}}</p>
          <p>Phone: {{user.phone}}</p>
          <p>Lat: {{user.address.geo.lat}}, Lng: {{user.address.geo.lng}}</p>
        </ion-label>
        <ion-note slot="start">
          {{user.id}}
        </ion-note>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="addToSQLite(user)">
          <p class="ion-text-capitalize">Add To <br>SQLite</p>
        </ion-item-option>
        <ion-item-option color="secondary" (click)="addToFirebase(user)">
          <p class="ion-text-capitalize">Add To <br>Firebase</p>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>