<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Firebase Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let user of userList">
      <ion-item>
        <ion-label>
          <h2>{{user.name}}</h2>
          <p>Email: {{user.email}}</p>
          <p>Phone: {{user.phone}}</p>
          <p>Lat: {{user.address.geo.lat}}, Lng: {{user.address.geo.lng}}</p>
        </ion-label>
        <ion-note slot="start">
          {{user.id}}
        </ion-note>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteUser(user.id)">
          <ion-icon id="icon1" slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
        <ion-item-option color="secondary" (click)="updateUser(user)">
          <ion-icon id="icon2" slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>